*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    background-color: #E7DECD;
    grid-template-areas: 
    "header header"
    "menu main"
    "footer footer"
    ;
    min-height: 100vh;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 60px 4fr 60px;
}

header{
    grid-area: header;
    background-color: #FF983B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #301B00;
    font-family: 'Solway', serif;
}

aside{
    grid-area: menu;
    background-color: #E7DECD;
    padding: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}

.categorias h2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Solway', serif;
    color:#301B00;
}

.categoria p{
    font-family: 'Barlow', sans-serif;
    font-weight: 300;

}

.categoria span{
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    color: #FF983B;
}

main{
    grid-area: main;
    background-color: #E7DECD;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px 20px;
    padding: 15px;
    
}
main .producto {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius:10px;
   
}
main .producto img{
    max-width: 100%;
    height: 650px ;
    padding-top: 10px;
}

main .producto h3,main .producto p{
    text-align: center;
    Margin:15px;
    font-family: 'Barlow', sans-serif;
    
}

main .producto button{
    width: 100%;
    padding: 5px;
    border-radius: 7px;
    background-color: #FF983B;
    font-family: 'Solway', serif;

}

footer{
    grid-area: footer;
    background-color:#FF983B;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer .pie p{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    color: #301B00;
 
}
